main .node-flows {
  width: 80%;
  height: 80vh;
}

.node {
  background: #262442;
  color: #fff;
  box-shadow: 3px 3px 7px #000;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #262442;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  background: #262442;
  color: #fff;
}

.edgebutton-foreignobject body {
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.api-node {
  z-index: 0; 
  transform: translate(0px, 0px); 
  pointer-events: all; 
  background-color: rgb(38, 36, 66) !important; 
  border: 1px solid #000 !important;
  color: rgb(255, 255, 255) !important; 
  box-shadow: rgb(0, 0, 0) 3px 3px 7px;
  margin-bottom: 1rem;
  min-width: 10rem;
}
