body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .node-flows {
  width: "80%";
  height: "80vh";
}

.node {
  background: "#262442";
  color: "#fff";
  box-shadow: "3px 3px 7px #000" 
}

